* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
} */

.card{
  width: 18rem;
  margin: 20px;
  border-radius: 6px;
  overflow: hidden;
  background: #3888AD;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}
.card:active{
  background-color: white;

}

.card img {
  width: 100%;
  height: 210px;
}

.card .contenido {
  padding: 15px;
  text-align: center;
}

.card .contenido p {
  line-height: 1.5;
  color: white;
}

.card .contenido a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #006400;
  border: 1px solid #006400;
  border-radius: 4px;
  transition: all 400ms ease;
}

.return {
  display: flex;
  justify-content: center;
  align-items: center;
 
}

