* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
  } */

 

.cardPictogramas .card {
  width: 180px;
  height: auto;
  margin: 10px;
  border-radius: 6px;
  overflow: hidden;
  background: #00ff7f;
  box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
  cursor: default;
  transition: all 400ms ease;
}
.card:hover {
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
  transform: translateY(-3%);
}

.cardPictogramas .card img {
  width: 100%;
  height: 130px;
}

.cardPictogramas .card .contenido {
  padding: 2px;
  text-align: center;
}

.card .contenido p {
  line-height: 1.5;
  color: #6a6a6a;
}

/* .card .contenido a {
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin-top: 10px;
    color: #006400;
    border: 1px solid #006400;
    border-radius: 4px;
    transition: all 400ms ease;
  } */

.return {
  display: flex;
  justify-content: center;
  align-items: center;
}
.botonJuego {
  justify-content: center;
  align-items: center;
  display: flex;
}
.botonJuego a {
  text-decoration: none;
  display: inline-block;
  padding: 10px;
  margin-top: 10px;
  color: #006400;
  border: 1px solid #006400;
  border-radius: 4px;
  transition: all 400ms ease;
}

